.carousel{
	margin: 0;
	width: 100%;
	padding: 0;
}

.carousel-inner{
	width: 100%;
	max-height: 1125px;

	/*max-height: 950px;
	This value may be useful for fitting the whole index picture on the screen.
	*/
}

.carousel-inner .item img{
	padding-left: 14%;
	padding-right: 14%;
	background-color: black;
	padding-bottom: 1%;
	width: 100%;
	/*
	max-height: 925px;
	This value may be useful for fitting the whole index picture on the screen.
	*/
	max-height: 630px;

}

.carousel-inner .item .a img{
	/*width: 85%;
	This value may be useful for fitting the whole index picture on screen.
	*/
	width: 100%;
	max-height: 1100px;
}

.carousel-indicators{
	bottom: 5%;
}

.carousel-control{
	width: 15%;
	
	background: none !important;
}

.carousel-caption h1{
	font-weight: bold;
	font-size:50px;
	line-height: 0.4;
}

.carousel-caption p{
	font-size: 25px;
}

#caption01{
	top: 7%;
	letter-spacing: 0.2em;
}

#caption02{
	left: -35%;
	bottom: 5%;
}

#caption03{
	top: 4%;
	left: -35%;
}

#caption04{
	top: 12%;
	left: -35%;
}

#caption05{
	top: 1%;
	left: -25%;
}

@media only screen and (max-width: 850px){
	.carousel-inner{
		height: 275px;
	}

	.carousel-caption h1,p{
		display: none;
	}

	.carousel-control{
		
	}

	.carousel-indicators{
		bottom: 5px;
	}

	#caption01{
		border-style: none;
	}
}
