.header h1{
	text-align: center;
	font-weight: bold;
	padding-bottom: 2%;
	font-family: "Lobster";
	
}

.main_img{
	height: 0px;
	overflow: visible;
	
	}
	
.question{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 1%;
}

.shirt img{
	margin-left: 30%;
	max-height: 35%;
	max-width: 35%;
}
.info {
	padding-left: 8%;
	padding-right: 8%;
}
.answer {
	margin-left: 3%;
	padding-bottom: 3%;
}
iframe{
	display: block;
	position: relative;
	width: 50vw;
	max-height: 315px;
	max-width: 560px;
}


.main_img img{
	width: 100%;
}

.events{
	
	margin-top: 2%;
	margin-right: 80%;
	padding: 10px;
	text-align: center;
	border-style: solid;
}

.split {
  width: 44.5%;
  top: 0;
  
  }

.right {
	padding : auto;
	float: right;
	}

.left {
	padding : auto;
	margin-left: auto;
	float: left;
	left: 0;	
}
.events a{
	text-decoration: none;
	color: black;
}

.events:hover{
	background-color: #4682B4;
}


@media only screen and (max-width: 850px){
	iframe{
		display: block;
		margin: 0 auto;
		height: 45vw;
		width: 70vw;
	}

.right {
	position: relative;
			padding-top: 50%;

	}
	.left {
		postition: relative;
	}
	.split {
	
		width: 100%;
		
	}
}