.header h1{
	text-align: center;
	font-weight: bold;
	padding-bottom: 2%;
	
}

.main_img{
	height: 0px;
	overflow: visible;
	
	}

.main_img img{
	width: 100%;
}

.events{
	margin-top: 20px;
	margin-left: 32%;
	margin-right: 32%;
	margin-bottom: 30px;
	padding: 10px;
	text-align: center;
	border-style: solid;
}

.split {
  width: 50%;
  
  top: 0;
  
  }

.right {
	float: right;
	padding-left: 3%;
	}

.left {
	
	float: left;
	left: 0;	
}
.events a{
	text-decoration: none;
	color: black;
}

.events:hover{
	background-color: #4682B4;
}

/*Navigation font for home, event, index */
.navigation a{
	font-size: 14px;
	font-weight: 500;
}
